
@import "../utilidades/mixin";
@import "../utilidades/variables";
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none !important;
	
}


body{
	background-color:  #292C3E;
}
h1{
    margin-top: 50px;
    @include fuente;
}

body{
    main{
        section{
            h2{
                font-size: 25px;
                text-align: start;
	            margin: 200px 0 0 50px;
                @include fuente
                
                
            }
        }
    }
}


.texto_fuente{
    font-size: 20px;
    @include fuente
}



p{
    margin-top: 15px;
    color: $color-letra-w;
}